django
django_country2
psycopg2-binary
django-cors-headers
whitenoise
gunicorn
sentry-sdk[django]
django_cloudinary_storage
django-multiupload
djangorestframework

cloudinary
requests
django-admin-argon-dashboard