django~=5.0.1
django_country2
psycopg2-binary
django-cors-headers
whitenoise
gunicorn
sentry-sdk[django]
django_cloudinary_storage
django-multiupload~=0.6.1
djangorestframework

cloudinary~=1.38.0
requests~=2.31.0