{% extends "main/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}


    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                         
                          <h3 class="font-weight-light text-center">Register</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_username">Username</label>
                                            <input type="text" name="username" class="form-control" autofocus="" required id="id_username" placeholder="Enter username">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_email">Email</label>
                                            <input type="email" name="email" class="form-control" maxlength="320" required id="id_email" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_password1">Password</label>
                                            <input type="password" name="password1" class="form-control" required id="id_password1" placeholder="Enter password">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_password2">Confirm Password</label>
                                            <input type="password" name="password2" class="form-control" required id="id_password2" placeholder="Confirm password">
                                        </div>
				    </div>
				    <div class="col-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_first_name">First Name</label>
                                            <input type="text" name="first_name" class="form-control" required id="id_first_name" placeholder="Enter first name">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_last_name">Last Name</label>
                                            <input type="text" name="last_name" class="form-control" required id="id_last_name" placeholder="Enter last name">
                                        </div>
                                    </div>
                                </div>
				<br>
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-dark">Register</button>
                                    </div>
                                  </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="/accounts/login">Back To Login</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  </div>

{% endblock %}
