{% extends "main/base.html" %}

{% block title %}Калькулятор{% endblock %}

{% block content %}
<div class="container">
    <h2>Калькулятор</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="expression">Введіть вираз:</label>
            <input type="text" class="form-control" name="expression" id="expression" required>
        </div>
        <button type="submit" class="btn btn-primary">Порахувати</button>
    </form>

    {% if result is not None %}
    <div class="mt-3">
        <h4>Результат:</h4>
        <p>{{ result }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
