{% extends "main/base.html" %}

{% block title %}
    Control test for course {{ course }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="test">
            <ol>
                {% for question in test.questions %}
                    <li>
                        <div class="question">
                            <div class="question-title">{{ question.question|safe }}</div>
                            <div class="question-answers">
                                {% for answer in question.answers %}
                                    <div class="question-answer" style="color: {% if answer.answer == question.correct %}green{% elif answer.answer == question.selected %}red{% endif %};">
                                        <input type="radio" {% if answer.answer == question.selected %}checked {% endif %} disabled>
                                        {{ answer|safe }}
                                        {% if answer.answer == question.selected %} (you selected){% endif %}
                                    </div>
                                {% endfor %}
                                <p>
                                    {% if not question.selected %}
                                        You didn't answer.
                                    {% elif question.selected == question.correct %}
                                        You answered correctly.
                                    {% else %}
                                        You answered incorrectly.
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <br>
                    </li>
                {% endfor %}
            </ol>
            <br>
            You scored {{ score }}/{{ questions_length }}.
        </div>
    </div>
{% endblock %}
